.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 550px;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.container .header_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_container .author {
    font-size: 17px;
    font-weight: 700;
}

.header_container .date {
    font-size: 14px;
    color: gray;
}

.delete_btn {
    color: gray;
    text-decoration: underline;
    font-size: 14px;
}