.search_container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search_container > input {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: black;
    color: white;
}

.search_container > button {
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: gray;
    color: white;
}